.jumbotron {
  background: url(../images/meet-me-on-33rd-from-street.jpg) center center;
  background-size: cover;
  color: white;
  min-height: 400px;
}

nav img {
  width: 140px;
}

.tagline h3 {
  margin: 100px auto 30px auto;
}

img {
  width: 100%;
}

.front-description img {
  width: 100%;
}

.feature-img {
  width: 100%;
}

footer {
    background: #555555;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}

hr {
  border: 1px solid #CF7019;
}

.address {
    padding-bottom: 30px;
}

.address ul {
    list-style-type: none;
}

#map {
    height: 400px;
    width: 100%;
}
