.jumbotron {
  background: url(../images/meet-me-on-33rd-from-street.jpg) center center;
  background-size: cover;
  color: white;
  min-height: 400px;
}

nav img {
  width: 140px;
  padding: 8px;
  background-color: rgba(255,255,255,10);
  border-radius: 3px;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  /* To allow centering of links to not be affect by logo image. */
  position: absolute;
}

.navbar-default{
  background-color: #78496A;
  border-color: rgb(96, 58, 85);
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  margin: 0;
}

.nav>li>a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgb(96, 58, 85);
}*/

/*.navbar-nav {
  float: none;
  text-align: center;
}*/

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-brand {
  padding: 5px 15px;
}

.tagline h3 {
  margin: 100px auto 30px auto;
}

img {
  width: 100%;
  border-radius: 5px;
}

.front-description img {
  width: 100%;
}

.feature-img {
  width: 100%;
}

footer {
    background: #555555;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}

hr {
  border: 1px solid #CF7019;
}

.address {
    padding-bottom: 30px;
}

.address ul {
    list-style-type: none;
}

#map {
    height: 400px;
    width: 100%;
}
